<div class="header">
  <div class="header left">
    <h3>ETHAN COVINGTON</h3>
  </div>
  <div class="header right">
    <a href="">Home</a>
    <a class="active" href="http://localhost:4200/gallery">Gallery</a>
    <a href="http://localhost:4200/blog">Blog</a>
  </div>
</div>
<div class="main">
  <h1>PHOTOGRAPHY</h1>
  <table>
    <tr>
      <a href="http://localhost:4200/assets/img/Gallery4.JPG" target="_blank"><img src="assets\img\Gallery4.JPG"/></a>
      <a href="http://localhost:4200/assets/img/Gallery5.JPG" target="_blank"><img src="assets\img\Gallery5.JPG"/></a>
      <a class="last" href="http://localhost:4200/assets/img/Gallery6.JPG" target="_blank"><img src="assets\img\Gallery6.JPG"/></a>
    </tr>
    <tr>
        <a href="http://localhost:4200/assets/img/Gallery7.JPG" target="_blank"><img src="assets\img\Gallery7.JPG"/></a>
        <a href="http://localhost:4200/assets/img/Gallery9.JPG" target="_blank"><img src="assets\img\Gallery9.JPG"/></a>
        <a class="last" href="http://localhost:4200/assets/img/Gallery10.JPG" target="_blank"><img src="assets\img\Gallery10.JPG"/></a>
      </tr>
      <tr>
          <a href="http://localhost:4200/assets/img/Gallery11.JPG" target="_blank"><img src="assets\img\Gallery11.JPG"/></a>
          <a href="http://localhost:4200/assets/img/Gallery14.JPG" target="_blank"><img src="assets\img\Gallery14.JPG"/></a>
          <a class="last" href="http://localhost:4200/assets/img/Gallery13.JPG" target="_blank"><img src="assets\img\Gallery13.JPG"/></a>
        </tr>
  </table>
</div>

