<div class="header">
  <div class="header left">
    <h3>ETHAN COVINGTON</h3>
  </div>
  <div class="header right">
    <a class="active" href="">Home</a>
    <a href="">Store</a>
    <a href="">Blog</a>
  </div>
</div>
<div class="main">
  <h1>ETHAN COVINGTON:</h1>
  <h1>YOUR NEW WEB</h1>
  <h1>DESIGNER</h1>
  <div class="button">
    <a href="mailto:jurassicethan@gmail.com">Get in Touch</a>
  </div>
</div>
<div class="gallery">
    <img src="assets\img\Gallery1.JPG"/>
    <img src="assets\img\Gallery2.JPG"/>
    <img class="last" src="assets\img\Gallery3.JPG"/>
    <img src="assets\img\Gallery1.JPG"/>
    <img src="assets\img\Gallery2.JPG"/>
    <img class="last" src="assets\img\Gallery3.JPG"/>

</div>
<div class="proile">
  <div class="me">
    <h2>WHO I AM</h2>
    <p>I am a new Web Desinger in Denver, Colorado. I am new to all this but I am learning fast. I have learned everything from the team at 4Tier.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class=pic>
  </div>
</div>
<div class="contacts">
  <div class="map">

  </div>
  <div class="contact">
    <h2>CONTACT ME</h2>
    <h4>Email</h4>
    <a href="mailto:jurassicethan@gmail.com">Jurassicethan@gmail.com</a>
    <h4>Phone</h4>
    <p>(303) 284-3378</p>
  </div>
</div>
<div class="bottom">
  <div class="social">
    <h2>SOCIAL MEDIA</h2>
    <a href="https://twitter.com/JurassicEthan" target="_blank"><img src="assets\img\Twitter.png" alt="Twitter Logo" ></a>
    <a href="https://www.instagram.com/ethan_cov/" target="_blank"><img src="assets\img\Insta.png" alt="Instagram Logo" ></a>
</div>
</div>
