<div class="header">
  <div class="header left">
    <h3>ETHAN COVINGTON</h3>
  </div>
  <div class="header right">
    <a href="">Home</a>
    <a class="active" href="http://localhost:4200/profile">Profile</a>
    <a href="http://localhost:4200/gallery">Gallery</a>
    <a href="http://localhost:4200/blog">Blog</a>
  </div>
</div>
<div class="me">
  <h1>PROFILE</h1>
  <div class="pic">
  </div>
  <div class="content">
    <h1>ETHAN COVINGTON:</h1>
    <h3>-Age: 17</h3>
    <h2>EDUCATION:</h2>
    <h3>-Mountain Vista High School</h3>
    <h4>-2016-Present</h4>
    <h2>EXPERIENCE:</h2>
    <h3>-Intern: 4Tier</h3>
    <h4>-2018-2019</h4>
  </div>
</div>
